<!-- CST-339 CLC Milestone Project
	Order Management Application
	Created by Warren Peterson,
	Jonathan Levan, Ivan Gudino -->
	
<!-- Register Success Page -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head></head>
	<body>
		<div align="center">
        <table border="">
            <tr>
                <td colspan="2" align="center"><h2>Registration Succeeded!</h2></td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <h3>Thank you for registering! Here's the review of your details:</h3>
                </td>
            </tr>
            <tr>
                <td>User Name:</td>
                <td th:text="${user.username}"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td th:text="${user.email}"></td>
            </tr>
            <tr>
                <td>Phone:</td>
                <td th:text="${user.phone}"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td th:text="${user.password}"></td>
            </tr>
            <tr>
                <td>First:</td>
                <td th:text="${user.firstName}"></td>
            </tr>
            <tr>
                <td>Last:</td>
                <td th:text="${user.lastName}"></td>
            </tr>
        </table>
    </div>
	</body>
</html>